
*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer{
    /* border:2px solid black; */
    height:350px;
    display: flex;
    justify-content:center;
    align-items: center;
 background-color: #0c2b64;
    
}
.container1{
 /* border: 2px solid green; */
 width: 97%;
 height:inherit;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #0c2b64;
}

.container1 .container2{
    /* border: 2px solid yellow; */
    width: 23%;
    height: 250px;
    
   

}.container2 h2{
    margin-top: 25px;
}
.container2 h2 a{
    text-decoration: none;
    font-size:25px;
    color:white;
    font-family:" Noto Sans",Arial,Helvetica,sans-serif;
    
}

.container1 .container2 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 35px;
}
.container1 .container2 ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family:" Noto Sans",Arial,Helvetica,sans-serif;
    font-weight: 400px;
   

}
.container3{
    /* border: 2px solid yellow; */
    width: 23%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container3 h1{
    text-decoration: none;
    font-size:25px;
    color:white;
    font-family:" Noto Sans",Arial,Helvetica,sans-serif;
    
}
button{
    background-color: #2a4577;
    width: 60%;
    height: 40px;
    color: whitesmoke;
   font-weight: 900;
   cursor: pointer;
   border: none;
   border-radius: 5%;
  
}
button:hover{
    border: 2px solid blue;
    transition-timing-function: ease-in-out;
    transition: all;
    transition-delay: 0s;
    transition-duration: 2s;
}
.section1{
    /* border: 2px solid red; */
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: #0c2b64;
}
.section1 svg{
    fill: whitesmoke;
    height: 80%;
}
.section2{
    /* border: 2px solid red; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #274375;
    

}
.sectioncontainer2{
    /* border: 2px solid yellow; */
    width: 97%;
    height: inherit;
    display: flex;
    justify-content: center;
}
.lastfooter1{
    /* border: 2px solid green; */
    height: inherit;
    width:25%;
    color: white;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.lastfooter2{
    /* border: 2px solid green; */
    height: inherit;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.lastfooter2 i{
    font-size: 25px;
    color: whitesmoke;
}

.lastfooter3{
    /* border: 2px solid green; */
    height: inherit;
    width:25%;
    color: white;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

